<%- include('../main/header.ejs') -%>
<form action="/add-video" method="POST">
    <div class="mb-3">
        <label for="srNo" class="form-label">SrNo</label>
        <input type="number" name="srNo" class="form-control" placeholder="Serial Number" id="srNo">
        
    </div>
    <div class="mb-3">
        <label for="youTubeLink" class="form-label">You Tube Link</label>
        <input type="text" name="youTubeLink" placeholder="Link of the video" class="form-control" id="youTubeLink" aria-describedby="youTubeLinkHelp">
        <div id="youTubeLinkHelp" class="form-text" style="color:whitesmoke">To get the video Link. Go to youtube video. right click on video and select copy embed copy. use the link.</div>
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="text" name="thumbnail" placeholder="Link of the Thumbnail " class="form-control" id="thumbnail">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" name="category" placeholder="Category of the video " class="form-control" id="category">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr No</th>
            <th scope="col">You Tube Link</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <% datas.forEach(data => { %>
            <tr>
                <td><%= data.srNo %> </td>
                <td><%= data.youTubeLink %> </td>
                <td><%= data.thumbnail %> </td>
                <td><%= data.category %> </td>
            </tr>
        <% }) %>
        
    </tbody>
</table>
<%- include('../main/footer.ejs') -%>