<%- include('./header.ejs') -%>

<%- include('./signUpModal.ejs') -%>
<%- include('./loginModal.ejs') -%>

<div class="mt-1 pl-3 py-1 border bg-light">
    <h2>Latest Recipe Videos</h2>
</div>
<div class="mt-5">
    <%- include('./owl_carousel.ejs') -%>

</div>
<div class="col-md-12 my-1">
    <div class="mt-1 pl-3 py-1 border bg-light">For Google Ads Code</div>
</div>

<div class="row g-1">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-1 pl-3 py-1 border bg-light">
                    <h2>Featured Videos</h2>
                </div>
            </div>

            <% datas.forEach(function(video){ %>

            <div class="col-md-6 my-1">
                <div class="border bg-light">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= video.srNo %> </h5>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="<%= video.youTubeLink %>"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% });%>

            <div class="col-md-12 my-1">
                <div class="mt-1 pl-3 py-1 border bg-light">For Google Ads Code</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-1 pl-3 py-1 border bg-light">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="col-md-12 my-1">
                <div class="card">
                    <img src="https://yt3.ggpht.com/a-/AOh14Gj2Zq4VzY6xOwAIKJVLYbhjdTH0zn_DXLFgPP0Xpg=s100-c-k-c0xffffffff-no-rj-mo"
                        class="card-img-top" alt="Myself">
                    <div class="card-body">
                        <h5 class="card-title">About Myself</h5>
                        <p class="card-text">My name is Priti Puja, I am the host of this channel "COOKING WITH PRITI
                            PUJA". I created this channel "COOKING WITH PRITI PUJA' keeping in mind to share the tips
                            and tricks of making healthy and delicious indian cooking. I hope, you will like this
                            Channel. Like and Share my videos with your friends and family. Please SUBSCRIBE and CLICK
                            the bell icon also for latest future video notifications. I would be delighted to connect
                            with you on following social platform as well:
                            Facebook : https://www.facebook.com/cookingwithpritipuja
                            Twitter : https://twitter.com/PritiWith
                            Instagram : https://www.instagram.com/pritipuja4859</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- <div class="p-3 border bg-light">Custom column padding 5</div> -->
            </div>
            <div class="col-md-12">
                <div class="p-3 border bg-light">For Google Ads Code</div>
            </div>
            <div class="col-md-12 my-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Latest Cooking and Health News</h5>
                        <p class="card-text">My name is Priti Puja. Working on it. Working on it. Working on it. Working
                            on it. Working on it. Working on it. Working on it.......</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- <div class="p-3 border bg-light">Custom column padding 5</div> -->
            </div>
        </div>
    </div>
</div>

<!-- blog section -->
<div class="row g-1">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To Do App</h5>
                        <p class="card-text">My name is Priti Puja. Working on it. Working on it. Working on it. Working
                            on it. Working on it. Working on it. Working on it.......</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-1">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Weather App</h5>
                        <p class="card-text">My name is Priti Puja. Working on it. Working on it. Working on it. Working
                            on it. Working on it. Working on it. Working on it.......</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-1 pl-3 py-1 border bg-light">
                    <h2>My Latest Blogs</h2>
                </div>
            </div>
            <% blogs.forEach(blog => { %>
                <div class="col-md-6 my-1">
                    <div class="card">
                        <img src="<%= blog.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %> </h5>
                            <p class="card-text" id="main-<%= blog.srNo %>"></p>
    
                            <script>
                                var reader = new XMLHttpRequest();
                                reader.open('GET', '<%= blog.introLink %>', true);
                                reader.onload = function () {
                                    if (this.status === 200) {
                                        var el = document.getElementById('main-<%= blog.srNo %>');
                                        el.innerHTML = this.responseText;
                                    }
                                }
                                reader.send();                      
                            </script>
    
                            <a href="http://localhost:8000/blogs/<%=blog.srNo %>" class="btn btn-primary">Read Details</a>
                        </div>
                    </div>
                </div>
            <% }); %>
            
        </div>
    </div>
</div>

<!-- comment section -->

<div class="mt-1 pl-3 py-1 border bg-light">
    <h2>Comments</h2>
</div>

<div class="row g-1">
    <div class="col-md-6">
        <div class="row">
            <% comments.forEach(comment => { %>
                <div class="col-md-12 my-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= comment.blog %> </h5>
                            <p class="card-text"><%= comment.comment %> </p>
                        </div>
                    </div>
                </div>
            <% }); %>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="row my-1">
            <div class="col-md-12">
                <div class="card">
                    <form action="/add-comment" method="POST">
                        <div class="mb-3">
                            <label for="srNo" class="form-label">SrNo</label>
                            <input type="number" name="srNo" class="form-control" placeholder="Serial Number" id="srNo">
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Enter Comment</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" name="comment"
                                placeholder="Write your comment" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="user" class="form-label">User Name</label>
                            <input type="text" name="user" placeholder="User Name" class="form-control" id="user">
                        </div>
                        <div class="mb-3">
                            <label for="blog" class="form-label">Blog Name</label>
                            <input type="text" name="blog" placeholder="Blog Name" class="form-control" id="blog">
                        </div>
                        <div class="mb-3">
                            <label for="parent" class="form-label">Parent Comment Detail</label>
                            <input type="text" name="parent" placeholder="Parent Comment Detail" class="form-control"
                                id="parent">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('./carousel.ejs') -%>
<%- include('./footer.ejs') -%>